#jform_containerslist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#jform_containerslist li {
    float: left;
}

#jform_containerslist li label {
    display: block;
    padding: 1px 18px;
}

#jform_containerslist li input {
    float: left;
}

.exam-category label {
    font-weight: bold;
}

.exam-checkboxes{
    margin-bottom:15px;
}
.exam-checkboxes label.checkbox {
    width: 40%;
    float:left;
    position:relative;
    pardding-left: 10%;
    margin-right:4%;
    margin-bottom:10px;
}
.exam-checkboxes label.checkbox input{
    width:10%;
    display: inline-block;
    position:absolute;
    left:2px;
}
